[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "==5.0a1"
pylint = "*"
git-pylint-commit-hook = "*"

[dev-packages]

[requires]
python_version = "3.7"
