[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"

[dev-packages]
mypy = "*"
coverage = "==5.0a1"
pylint = "*"
git-pylint-commit-hook = "*"
pre-commit = "*"

[requires]
python_version = "3.7"
